@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FFDAB9;
}

.logo {
    color: black;
}

.logo:hover {
    color: orangered;
    transition: all 0.3s ease 0s;
}


li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;

}

li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;

}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: orangered;
}

a {
    letter-spacing: 0.5px;
}













.hungry_gif {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
} 
   
